@{
    ViewData["Title"] = "Home Page";
    var szemely = (Person)ViewData["szemely"];
}

<div class="text-center">
    <h1 class="h5">Kedves @szemely.name! </h1>
    <h1 class="h5">Üdvözli a Galgamácsai Fekete István Általános Iskola!</h1>
    <p>Kérem, tekintse meg honlapunkat!</p>
</div>
<div class="text-center">
    <img src=”/wwwroot/iskola_logo.jpg”> 
</div>
